.float-child {
  width: 50%;
  float: left;
  padding: 20px;

}
.error
{
 border:1px solid red;
}

.calrt{

  margin: auto;
  width: 50%;
  padding: 10px;
}

.checked {
  color: orange;
}

.str {
  color: white;
}
