<app-header></app-header>

<!-- ---------------------- cart table ---------------------------------------->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div>
  <br />
  <span
    ><h2><strong style="margin-left: 500px">Orders</strong></h2></span
  >

  <br />
  <table class="table" style="width: 70%; margin-left: 150px">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Qty.</th>
        <th scope="col">Created on</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts | paginate: { itemsPerPage: count, currentPage: p }; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>{{ cart.product }}</td>
        <td>Rs. {{ cart.price }}</td>
        <td>{{ cart.qty }}</td>
        <td>{{ cart.created }}</td>

      </tr>
    </tbody>
  </table>
   <!--Including the pagination control.-->
   <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<app-footer></app-footer>
