<footer class="site-footer">
  <div style="margin-left: 10px;">
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-6">
  <h6>About</h6>
  <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
   <p class="text-justify"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
   <p class="text-justify">when an unknown printer took a galley of type and scrambled it to make a type <p>
    <p class="text-justify">specimen book.</p>
  </div>
  <div class="col-6 col-md-3">
  <h6>Categories</h6>
  <ul class="footer-links ">
  <li><a href="#">Website Design</a></li>
  <li><a href="#">UI Design</a></li>
  <li><a href="#">Web Development</a></li>
  <li><a href="#">Video Editor</a></li>
  <li><a href="#">Theme Creator</a></li>
  <li><a href="#">Templates</a></li>
  </ul>
  </div>
  <div class="col-6 col-md-3">
  <h6>Quick Links</h6>
  <ul class="footer-links">
  <li><a href="#">About Us</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Contribute</a></li>

  </ul>
  </div>
  </div>
  <hr class="small">
  </div>

  </div>
  </footer>
