<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <style>

</style> -->
</head>
<body>

  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<h2>Login Form</h2>
<div class="col-sm-6">

  <div class="alert alert-danger" *ngIf="lerror != ''">
    <div>{{lerror}}.</div>
</div>

<form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar" width="40%">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="email" pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required email [(ngModel)]="login.email" #email="ngModel">
    <div class="alert alert-danger" *ngIf="!email?.valid && (email?.dirty || email?.touched) && email?.errors.required">
      <div>Title is required.</div>
  </div>

    <label for="psw"><b>Password</b></label>
    <input [type]="passWrd" class="form-control" placeholder="Enter Password" name="password" required [(ngModel)]="login.password" #password="ngModel">
    <label>
      <input type="checkbox" name="shwPass" #sh (click)="showPass(sh)"> Show Password
    </label>
    <div class="alert alert-danger" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
      <div>Title is required.</div>
  </div>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
</body>
</html>
