<app-header></app-header>
<div class="container">
  <h2>Category</h2><a class="btn btn-primary" routerLink="/admin/add-category" style="float: right;">Add Category</a>
  <p>View, Add, Update, Update status of Categories:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sl. No.</th>
        <th>Category</th>
        <th>SKU</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categories of category; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ categories.name }}</td>
        <td>{{ categories.sku }}</td>
        <td>
          <span *ngIf="categories.status == 1" class="badge badge-success"
            >Active</span
          >
          <span *ngIf="categories.status != 1" class="badge badge-danger"
            >Inactive</span
          >
        </td>
        <td>
          <button type="button" class="btn btn-primary">Edit</button>
          &nbsp;&nbsp;<button type="button" class="btn btn-success" (click)="chngst(categories.id,categories.status)">Update status</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
